*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

$gray-600: #6c757d;
$input-bg: rgba(241, 245, 240, 0.7);


.whiteSmoke{
	background-color: whitesmoke;
}

#section_redes{
	background-color:  #608c20;

}

.sectionPast{
	background-color: #c7c9c5;
}


#section-aside{
	background-color: #74a62b; 
	display: flex;
	justify-content: center;
	text-decoration: none;


}
section aside a{

		text-decoration: none;
		color: white;
	}


.text-QS{
	color: $gray-600;
}
 .input-op{
 	background-color:$input-bg;
 }





